#form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content-container {
    width: 90%;
    max-width: 992px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: var(--white);
    border-radius: 0.25rem;
}

@media (max-width: 768px) {
    #content-container {
        width: 100%;
    }
}

